{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "ecmaFeatures": {
    "jsx": true
  },
  "rules": {
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2,
    "react/jsx-boolean-value": 0,
    "react/prop-types": 0,
    "id-length": 0,
    "comma-dangle": 0,
    "no-trailing-spaces": 0,
    "new-cap": 0,
    "func-names": 0,
    "no-use-before-define": 0,
    "no-var": 0,
    "vars-on-top": 0
  }
}
